*{
    margin: 0%;
}
.alldata{
    height: 900px;
}
.heading{
    display: flex;
    background-color: rgb(165, 165, 165);
    font-family:'Times New Roman', Times, serif;
    gap: 60em;
    padding-left: 190px;
}
.h1{
    display: flex;
    gap: 12px;
}
.h2{
    display: flex;
    list-style: none;
    gap: 12px;
}
.img{
    width: 12px;
    height: 12px;    
}
.img2{
    padding-left: 120px;
    margin-top: -18px;
    height: 50px;
    /* width: 240px; */
}
.secondheading{
    display: flex;
    position: sticky;
    top: 0px;
    background-color:rgb(216, 209, 209);
    gap: 30em;
    height: 35px;
    padding-top: 35px;
    padding-bottom: 15px;
    padding-left: 70px;
}
.img3{
    background-image: url(Screenshot\ 2025-01-10\ 145408.png);
    height: 30em;
    background-size: 100%;
    background-repeat: no-repeat;
}
.words{
    padding-left: 170px;
    font-size: large;
    width: 1500px;
}
.line{
    background-color: black;
    width: 100%;
    height: -80%;
}
#sech{
    background-color: rgb(138, 103, 57);
    width: 1000px;
    margin-top: 15px;
    padding-top: 8px;
    padding-bottom: 8px;
}
#input{
    width: 1000px;
    margin-top: 15px;
    padding-top: 8px;
    padding-bottom: 8px;
    
}
.secondheading ul li:hover{
    text-decoration: underline;
    color: #fff;
    background: #000;
}
.secondheading ul li{
    transition: all .5s ease;
}
.words2 h3{
    padding-top: 39px;
}
.words2 h5{
    padding-top: 12px;
}
.allsection{
    padding-left: 170px;
    display: flex;  
    gap: 20px; 
}

.secondp{
    width: 1200px;
    background-color: rgb(232, 224, 224);
    width: 1775px;
    padding: 50px;
}
.secondp h2{
    font-size: 44px;
    margin-bottom: 40px;
}
.layer1 h2{
   width: 400px;
   font-size: 34px;
}
.layer1 h5{
    width: 400px;
    font-size: 18px;
    padding-bottom: 18px;
}
.layer2 {
    margin-top: 70px;
}
.layer2 h2{
    width: 400px;
    font-size: 34px;
}
.layer2 h5{
    width: 400px;
    font-size: 18px;
    padding-bottom: 18px;
}
.layer3 h4{
    width: 400px;
   font-size: 34px;
}
.layer3 {
    margin-top: 70px;
}
.layer3 h2{
    width: 400px;
    font-size: 34px;
}
.layer3 h5{
    width: 400px;
    font-size: 18px;
    padding-bottom: 18px;
}
.secondp2{
    display: flex;
    gap: 80px;
    padding-left: 120px;
    padding-right: 180px;

}
.words{
    background:linear-gradient(#e2f1fc,#ffffff 80%);
    width: 1715px;
}
