*{
    margin: 0%;
}
.alldata{
    height: 1234px;
    
}
.heading{
    display: flex;
    background-color: rgb(81, 80, 80);
    font-family:'Times New Roman', Times, serif;
    gap: 60em;
    padding-left: 70px;
    position: fixed;
    width: 100%;
}
.h1{
    display: flex;
    gap: 12px;
}
.h2{
    display: flex;
    list-style: none;
    gap: 12px;
}
.img{
    width: 12px;
    height: 12px;
}
.secondheading{
    display: flex;
    background-color:rgb(146, 145, 145);
    gap: 30em;
    height: 35px;
    padding-top: 35px;
    padding-bottom: 15px;
    padding-left: 70px;
}
.img3{
    background-image: url(Screenshot\ 2025-01-10\ 145408.png);
    height: 30em;
    background-size: 100%;
    background-repeat: no-repeat;
}
.words{
    margin-left: 20px;
}
.line{
    background-color: black;
    width: 100%;
    height: -80%;
}
#sech{
    background-color: rgb(138, 103, 57);
    width: 100%;
    margin-top: 15px;
    padding-top: 8px;
    padding-bottom: 8px;
}
#input{
    width: 100%;
    margin-top: 15px;
    padding-top: 8px;
    padding-bottom: 8px;
    
}
.secondheading ul li:hover{
    color: #fff;
    background: #000;
}
.secondheading ul li{
    transition: all .5s ease;
}