*{
    margin: 0%;
    text-align: center;
}
body{
    /* background-color: grey; */
}
.r1{
    margin: 0%;
    
    display: flex;
    grid-template-rows:repeat(8,50px) ;
    grid-template-columns:repeat(8,50px) ;
    
    

}
.log{
    grid-column: 1;
    grid-row: 1;
    width: 29px;
    
}

#a0{
    grid-column: 2;
    grid-row: 1;
    font-size: 12px;
    

}
#a{
    grid-column: 3;
    grid-row: 1;
    font-size: 12px;
    
}
#b{
    grid-column: 4;
    grid-row: 1;
    font-size: 12px;
}
#c{
    grid-column: 5;
    grid-row: 1;

}
#d{
    grid-column: 6;
    grid-row: 1;

}
#e{
    grid-column: 7;
    grid-row: 1;

}
#f{
    grid-column: 8;
    grid-row: 1;

}

#g{
    
    grid-row: 2;
    grid-column:1;
    font-size: 12px;
}

#h{
    grid-row: 3;
    grid-column:1;
    font-size: 11px;
}
#i{
    grid-row: 4;
    grid-column:1;
    font-size: 8px;
}
#j{
    grid-row: 5;
    grid-column:1;
    font-size: 12px;
    width: 44px;
    height: 59px;
}
.im1{
    grid-column: 3;
    grid-row: 2;
    width: 296px;

}