body{
    margin-left: 20%;
}
.content{
    width: 80em;
    background-color:white

}
.head{
    display: flex;
    justify-content: space-between;
    background-color: rgba(16, 21, 36, 1);
    color: rgba(255, 255, 255, 1);
    font-family: Open Sans; 
    font-size: 14px;
    padding-top: 27px;
    list-style: none;
    gap: 10px;
    
   
}
.two{
    width: 80em;
    height: 10em;
    padding-top: 76px;
    margin-top: -14px;
    text-align: center;
    background-image: url(image\ 18.png);
    color: aliceblue;
    position: sticky;
}
.head2{
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 20px;
}
.three{
    display: flex;
    justify-content: space-between;
    gap: 60px;
    list-style: none;
}
.three p{
    text-align: left;
   
}
button{
    background-color: blue;
    color: white;
    align-items: left;
}
.image4{
    width:40em;
}
.five{
    display: flex;
    gap:10px
}
.six{
    display: flex;
    margin-top: 1%;
    gap: 10px;
}
.btn{
    background-color:white;
    color: grey;
    border-radius: 5px;
    font-size: 9px;
}
.img{
    width: 9px;
    height: 12px;
}
.ls1{
    margin-right: 60px;
    
}
.ls1 .one{
    margin-bottom: 20PX;
}
.ls2{
    margin-right: 60px;
    margin-top: 12px;
}
.ls2 .one{
margin-bottom: 20PX;
}
ul{
    list-style-type: none;
}
.footer{
    display: flex;
    gap: 12px;
    list-style: none;
    width: 80em;
    background-color:rgba(249, 249,249, 1);
}
.line{
    background-color:rgba(230, 230,231,1);
    width: 80em;
    height: 2px;
}