*{
    text-align: center;
}
body{
    width: 45em;
    padding-left: 25em;
}
.head{
    display: flex;
    justify-content: space-between;
    list-style: none;
}
.log{
    width: 24px;
}
.r2{
    display: grid;
    grid-template-columns: 1fr 1fr ;
}
.r4{
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

}